body{
    background-color: yellow;
}
#navbar{
    margin: 0;
    padding: 5px;
    text-align: center;
    font-size: xx-large;
    color: red;
    font-family: "Grechen Fuemen","serif" ;
}

img{
    width: 800px;
    height: 500px;
    margin: 50px;
}

hr{
    color: black 
}

.noticias{ 

    text-align: center;
    color: rgb(247, 247, 55);
    font-family: "Grechen Fuemen","serif" ;

}

.noticia1 {
    display: flex;
}

h3{
    text-align: center;
    font-size: x-large;
    font-family: "Grechen Fuemen","serif" ;
    color: red;
}

/* #noticias{
    display: flex;
    
} */

p{
    text-align: center;
    font-family: "Grechen Fuemen","serif" ;
    font-size: large;
    color: red;
}

.poderes {
    display:flex;
}

.aliados {
    text-align: center;
    background-color: rgb(255, 255, 135)
    

}

h2{
    text-align: center;
    font-size: x-large;
    font-family: "Grechen Fuemen","serif" ;
    color: red;
}

.viloes{
    text-align: center;
    background-color: rgb(255, 255, 135)

}