body {
    background-color: rgb(37, 167, 197);
}

.azul{
    max-width:700px;
    margin: 0 auto;
    padding: 100px;
}

.amarela{
    background-color: #f0f0f0;
    padding: 100px;
    margin: 10px;
}

.flex{
    display:flex
}