body{
    background-color: rgb(37, 167, 197);
}

.centralizar{
    max-width: 660px;
    margin: 0 auto;
}

.cinza{
    background-color: #f0f0f0;
    padding: 100px;
    margin: 10px;
    box-sizing: border-box;
}

.esticar{
    padding-right: 320px;
}

.flex{
    display: flex;
}